@-webkit-viewport {
  inline-size: device-width;
}

@-moz-viewport {
  inline-size: device-width;
}

@-ms-viewport {
  inline-size: device-width;
}

@-o-viewport {
  inline-size: device-width;
}

@viewport {
  inline-size: device-width;
}
